@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Mona-Sans';
    src: url('./fonts/Mona-Sans.ttf') format('truetype');
}

@font-face {
    font-family: 'Preeti';
    src: url('./fonts/preeti.otf') format('opentype');
}

:root {
    font-family: 'Mona-Sans', sans-serif;
    background: url("./assets/dotted_pattern.svg") no-repeat;
}

html {
  scroll-behavior: smooth;
}

.preeti {
  font-family: "Preeti";
}

