@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Mona-Sans';
    src: url('./fonts/Mona-Sans.ttf') format('truetype');
}

@font-face {
    font-family: 'Preeti';
    src: url('./fonts/preeti.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: 'Mona-Sans', sans-serif;
    background: url("./assets/dotted_pattern.svg") no-repeat;
}

html {
  scroll-behavior: smooth;
}

.preeti {
  font-family: "Preeti";
}


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #577399;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
  transition: background-color 5000s ease-in-out 0s;
  color: #577399;
}
